## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [5]:
import pandas as pd
import numpy as np

In [27]:
data = {'國家':["Korea","China","Japan","Taiwan","America"] ,
        '人口':np.random.randint(100,10000,5) }
data = pd.DataFrame(data=data)
data

        國家    人口
0    Korea  2916
1    China  6451
2    Japan  5174
3   Taiwan  7948
4  America   475

In [32]:
data['國家'].iloc[data['人口'].idxmax(0)]

'Taiwan'